<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="my_widget" data-view="Text" data-title="Hello World!" data-text="This is my first try at doing something"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
          <div data-id="commits" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="commits from tvpeople repo"></div>
    </li>	  
  </ul>
</div>
